#r, #t, #x, .ddimg, .nnimg { display: none;}

.dimg {
        position: relative;
        margin-top: 5%;
        margin-right: auto;
        margin-left: 25%;
        background-image= url('imgday.png');
        opacity: 0.1;
        width: 50%;
        overflow-x: hidden;
        overflow-y: hidden;
}



.nimg {
        position: relative;
        margin-top: 5%;
        margin-right: auto;
        margin-left: 25%;
        background-image= url('imgnight.png');
        opacity: 0.1;
        width: 50%;
        overflow-x: hidden;
        overflow-y: hidden;
}

.day {
        position: relative;
        margin-top: 5%;
        margin-right: auto;
        margin-left: 25%;
        background-image= url('day.png');
        opacity: 0.4;
        width: 50%;
        overflow-x: hidden;
        overflow-y: hidden;
}

.night {
        position: relative;
        margin-top: 5%;
        margin-right: auto;
        margin-left: 25%;
        background-image= url('night.png');
        opacity: 0.4;
        width: 50%;
        overflow-x: hidden;
        overflow-y: hidden;
}

.xmas {
        position: relative;
        margin-top: 4%;
        margin-right: auto;
        margin-left: 35%;
        background-image= url('xmass.png');
        opacity: 0.4;
        width: 30%;
        overflow-x: hidden;
        overflow-y: hidden;
}
noscript {
      color: steelblue;
      font-weight: bold;
      font-style: italic;
}
